@*@namespace Layout.Ui.Ui.Components
@attribute [PiralExtension("Layout.Topbar")]


<div class="appbar" style="height:4rem; background: cornflowerblue; color: white; display: flex; align-items: center; padding: 5px 10px;">
    <Extension
        Name="Layout.Topbar.Left"
    />
</div>

@code{

}*@