@page "/cascading"

<AuthenticatedPage>
    <h1>Cascading Page</h1>
    <h2>Hello @_username</h2>
    <h3>TestValue: @TestValue</h3>
    <p>Only authenticated users can see me.</p>
    <a href="/hello">go to default page</a>
</AuthenticatedPage>

@code{
    [CascadingParameter]
    private Microsoft.AspNetCore.Components.Authorization.AuthenticationState authenticationState { get; set; }

    [CascadingParameter(Name = "TestValue")]
    private string TestValue { get; set; }

    string _username { get; set; }

    protected override void OnInitialized()
    {
        var user = authenticationState?.User;

        if (user?.Identity is not null && user.Identity.IsAuthenticated)
        {
            _username = user.Identity.Name;
        }
    }
}