@page "/hello"

<h1>Default Page</h1>
<p>Everybody can see me.</p>
<a href="/secret">go to secret page</a><br />
<a href="/app/member">go to member page</a><br />
<a href="/cascading">go to cascading page</a>
