@page "/secret"
@*@inject MyAuthenticationState _authenticationState*@

<AuthenticatedPage>
    <h1>Secret Page</h1>
    @*<h2>Hello @_authenticationState.AuthState.User.Identity.Name</h2>*@
    <p>Only authenticated users can see me.</p>
    <a href="/hello">go to default page</a>
</AuthenticatedPage>